language: node_js
node_js:
  - lts/*
before_install:
install:
  - npm install
script:
  - npm run docs:build
deploy:
  provider: pages
  repo: max-team/max-team.github.io
  target_branch: master
  skip_cleanup: true
  local_dir: docs/.vuepress/dist
  github_token: $GITHUB_TOKEN # a token generated on github allowing travis to push code on you repository
  keep_history: true
  on:
    branch: master